@import 'variables';
.bottom-navigation{
    justify-content: space-around;
    margin-bottom: 20;
    label{
        background-color: #0f8b8d;
        color: #ec9a29;
        font-size: 30;
        padding: 10 20;
        text-transform: lowercase; 
    }
    .button-left{
        background-color: #ec9a29;
        color: #143642;
    }
    .button-right{
        background-color: #143642;
        color: #dad2d8;
    }
}
