$colors: #dad2d8, #143642, #0f8b8d, #ec9a29, #a8201a;

$actionBarBackgroundColor: nth($colors,2);
$actionBarFontColor: nth($colors,1);
$actionBarFontSize: 23;

$mainBackgroundColor: nth($colors,1);
$mainColor: nth($colors,3);
$secondarynColor: nth($colors,4);
$acentColor:($colors,);

$fontSize: 23;
